@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

body {
  background-color: #21252A;
  font-family: 'Lexend', sans-serif;
}


.text-yellow {
  color: #F0B90B;
}

.text-gray {
  color: #21252A;
}

.text-light-gray {
  color: #9394A8;
}

.text-black {
  color: #131313;
}

.text-white {
  color: white;
}


.circle {
  background-image: url('../images/background.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .circle {
    background-image: url('../images/background_mobile.png');
    background-position: center;
    background-size: auto 30%;
  }

  .card-img-top {
    margin: auto;
    width: 80%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .circle {
    background-image: url('../images/background_mobile.png');
    background-position: center;
    background-size: auto 50%;
  }
}

.order-card {
  color: #fff;
}

.card-footer {
  border-top: none;
  background-color: transparent;
}

.bg-c-blue {
  background: linear-gradient(45deg, #4099ff, #73b4ff);
}

.bg-c-green {
  background: linear-gradient(45deg, #2ed8b6, #59e0c5);
}

.bg-c-yellow {
  background: linear-gradient(45deg, #f0bb0b, #f8f296);
}

.bg-c-yellow-dark {
  background: linear-gradient(45deg, #ed7800, #efe31e);
}

.bg-c-pink {
  background: linear-gradient(45deg, #FF5370, #ff869a);
}

.bg-c-dark-blue {
  background: linear-gradient(0deg, #525559, #21252A);
}


.card {
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  box-shadow: 0 1px 2.94px 0.06px rgba(4, 26, 55, 0.16);
  border: none;
  margin-bottom: 30px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.card .card-block {
  padding: 25px;
}

.order-card i {
  font-size: 26px;
}


.card-img-top {
  height: auto;
}


.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: .75rem;
}



.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}




.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-c-white {
  background: linear-gradient(45deg, #e9e9e9, #f9f9f9);
}