@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300;400;500;600&display=swap');

body {
  background-color: #21252A;
  font-family: 'Lexend', sans-serif;
}

.text-yellow {
  color: #F0B90B;
}

.text-gray {
  color: #21252A;
}

.text-light-gray {
  color: #9394A8;
}

.text-black {
  color: #131313;
}

.text-white {
  color: white;
}

.circle {
  background-image: url('././images/background.png');
  background-position: top right;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 767px) {
  .circle {
    background-image: url('././images/background_mobile.png');
    background-position: center;
    background-size: auto 30%;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .circle {
    background-image: url('././images/background_mobile.png');
    background-position: center;
    background-size: auto 50%;
  }
}